# Experiment No. 9

### Roll No.: 18BIC026 Joy Mehta

Date: 13/10/2020

## Aim: 
#### k-means clustering algorithm.

## Objectives:

> To implement k-means clustering algorithm.

### Pre-Lab Exercise:
1. Learn theoretical concepts related to k-means clustering algorithm.

### Reference Book:
1. Tom Mitchell, Machine Learning, TMH Publications.

# Programming Exercise:

## kMeans Clustering

In [1]:
#importing libraries
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
#reading the csv file
df = pd.read_csv("iris.csv")
df.head()

   petal_length  petal_width  sepal_length  sepal_width         type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
#rows and columns
df.shape

(150, 5)

In [4]:
#no. of clusters
len(df['type'].unique())

3

In [5]:
#dropping the labels dataset
df.drop('type', axis=1, inplace=True)
df.head()

   petal_length  petal_width  sepal_length  sepal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
#Fitting the dataset to kMeans
kmeans = KMeans(n_clusters=3)
kmeans.fit(df)

KMeans(n_clusters=3)

In [7]:
print(kmeans.cluster_centers_)

[[5.9016129  2.7483871  4.39354839 1.43387097]
 [5.006      3.418      1.464      0.244     ]
 [6.85       3.07368421 5.74210526 2.07105263]]

In [9]:
#Predicting on the original dataset
labels = kmeans.predict(df)
labels

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0], dtype=int32)

## Implementing kMeans on Ecoli Dataset

In [17]:
#reading the csv file
df = pd.read_csv("ecoli.csv")
df.head()

  sequence_name   mcg   gvh   lip  chg   aac  alm1  alm2 lsp
0     AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35  cp
1    ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44  cp
2    ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46  cp
3    ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36  cp
4     ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35  cp

In [18]:
#rows and columns
df.shape

(336, 9)

In [19]:
#no. of clusters
len(df['lsp'].unique())

8

In [20]:
#dropping the labels dataset
df.drop('lsp', axis=1, inplace=True)
df.drop('sequence_name', axis=1, inplace=True)
df.head()

    mcg   gvh   lip  chg   aac  alm1  alm2
0  0.49  0.29  0.48  0.5  0.56  0.24  0.35
1  0.07  0.40  0.48  0.5  0.54  0.35  0.44
2  0.56  0.40  0.48  0.5  0.49  0.37  0.46
3  0.59  0.49  0.48  0.5  0.52  0.45  0.36
4  0.23  0.32  0.48  0.5  0.55  0.25  0.35

In [21]:
#Fitting the dataset to kMeans
kmeans = KMeans(n_clusters=8)
kmeans.fit(df)

KMeans()

In [22]:
print(kmeans.cluster_centers_)

[[0.71126984 0.48285714 0.49650794 0.5        0.56698413 0.76301587
  0.76984127]
 [0.27547619 0.46214286 0.48       0.5        0.47690476 0.46738095
  0.48404762]
 [0.6676     0.7056     0.48       0.5        0.4134     0.474
  0.3536    ]
 [0.3134375  0.3690625  0.48       0.5        0.47375    0.23859375
  0.32921875]
 [0.395      0.47875    0.48       0.5        0.5515     0.7715
  0.79      ]
 [0.47458333 0.43354167 0.48       0.5        0.40541667 0.33791667
  0.41020833]
 [0.68047619 0.70619048 0.48       0.5        0.72904762 0.46285714
  0.30333333]
 [0.66625    0.56       1.         0.5625     0.555      0.57375
  0.33375   ]]

In [23]:
#Predicting on the original dataset
labels = kmeans.predict(df)
labels

array([3, 1, 5, 5, 3, 5, 3, 3, 1, 3, 3, 3, 3, 5, 3, 1, 3, 1, 3, 5, 3, 3,
       5, 3, 3, 1, 3, 1, 5, 5, 5, 5, 5, 5, 3, 1, 3, 5, 3, 3, 3, 1, 5, 3,
       5, 1, 1, 5, 3, 3, 5, 3, 1, 1, 5, 5, 5, 5, 5, 5, 1, 5, 1, 3, 5, 1,
       3, 5, 3, 1, 3, 5, 5, 3, 3, 3, 5, 1, 3, 1, 3, 5, 3, 1, 1, 1, 5, 5,
       5, 5, 1, 3, 3, 3, 5, 2, 5, 5, 2, 5, 3, 1, 3, 3, 3, 1, 5, 5, 5, 3,
       3, 1, 3, 3, 3, 3, 5, 3, 1, 1, 3, 3, 3, 3, 5, 1, 3, 5, 3, 5, 1, 5,
       3, 3, 1, 3, 3, 3, 3, 3, 1, 1, 3, 1, 1, 0, 4, 4, 4, 4, 4, 4, 4, 4,
       1, 4, 0, 0, 4, 4, 4, 4, 0, 4, 4, 0, 4, 4, 0, 4, 4, 0, 4, 4, 0, 4,
       0, 0, 0, 4, 0, 0, 0, 1, 0, 4, 0, 0, 4, 0, 4, 0, 4, 4, 0, 0, 4, 4,
       0, 4, 0, 4, 4, 4, 4, 0, 4, 4, 4, 0, 0, 4, 2, 1, 1, 1, 1, 2, 0, 0,
       2, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 4, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, 5, 0, 6, 6, 6, 2, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 6, 6, 6, 6, 7, 7, 7, 7, 7, 2, 2,
       2, 6, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 6, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 5, 2, 6,
       1, 2, 2, 2, 2, 2], dtype=int32)

# Conclusion
* In this lab we learned about the kMeans clustering which is used to cluster unlabelled dataset. We implemented the algorithm using the sklearn library.
* We then tested it on the original dataset and compared it to the labels.
* We also implemented thid algorithm on other dataset