# Experiment No. 6

### Roll No.: 18BIC026 Joy Mehta

Date: 17/09/2020

## Aim: 
#### k-Nearest Neighbours algorithm.

## Objectives:

> To implement k-Nearest Neighbours algorithm.

### Pre-Lab Exercise:
1. Learn theoretical concepts related to k-Nearest Neighbours algorithm.

### Reference Book:
1. Tom Mitchell, Machine Learning, TMH Publications.

# Programming Exercise:

##  k-Nearest Neighbours

In [73]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn import metrics 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [74]:
#read dataset
df = pd.read_csv("glass.csv")
df.head()

   id_number       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0          1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1          2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2          3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3          4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4          5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [75]:
#remove first column as it is unique for each row
del df["id_number"]
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [76]:
#no. of rows and columns in the dataset
df.shape

(214, 10)

In [77]:
#column names
df.columns

Index(['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type'], dtype='object')

In [78]:
#unique output classes
print(df.Type.unique())
print(len(df.Type.unique()))

[1 2 3 5 6 7]
6

In [79]:
#randomly shuffle the data
df = df.sample(frac=1)
df.head()

          RI     Na    Mg    Al     Si     K     Ca    Ba   Fe  Type
43   1.52210  13.73  3.84  0.72  71.76  0.17   9.74  0.00  0.0     1
190  1.51613  13.88  1.78  1.79  73.10  0.00   8.67  0.76  0.0     7
164  1.51915  12.73  1.85  1.86  72.69  0.60  10.09  0.00  0.0     5
87   1.51645  13.40  3.49  1.52  72.65  0.67   8.08  0.00  0.1     2
207  1.51831  14.39  0.00  1.82  72.86  1.41   6.47  2.88  0.0     7

In [80]:
#standardize the dataset
df_scaled = df.copy(deep=True)
minmax = preprocessing.MinMaxScaler()
scaled_vals = minmax.fit_transform(df_scaled.iloc[:, 0:-1])
df_scaled.loc[:, 0:9] = scaled_vals
print(df_scaled.head())
print(df.head())

RI        Na        Mg        Al        Si         K        Ca  \
43   0.480685  0.451128  0.855234  0.133956  0.348214  0.027375  0.400558
190  0.218613  0.473684  0.396437  0.467290  0.587500  0.000000  0.301115
164  0.351185  0.300752  0.412027  0.489097  0.514286  0.096618  0.433086
87   0.232660  0.401504  0.777283  0.383178  0.507143  0.107890  0.246283
207  0.314311  0.550376  0.000000  0.476636  0.544643  0.227053  0.096654

           Ba        Fe  Type
43   0.000000  0.000000     1
190  0.241270  0.000000     7
164  0.000000  0.000000     5
87   0.000000  0.196078     2
207  0.914286  0.000000     7
          RI     Na    Mg    Al     Si     K     Ca    Ba   Fe  Type
43   1.52210  13.73  3.84  0.72  71.76  0.17   9.74  0.00  0.0     1
190  1.51613  13.88  1.78  1.79  73.10  0.00   8.67  0.76  0.0     7
164  1.51915  12.73  1.85  1.86  72.69  0.60  10.09  0.00  0.0     5
87   1.51645  13.40  3.49  1.52  72.65  0.67   8.08  0.00  0.1     2
207  1.51831  14.39  0.00  1.82  72.86  1.41   6.47  2.88  0.0     7

In [81]:
#splitting dataset into train and train data
train, test = train_test_split(df_scaled, test_size=0.3)

In [82]:
#splitting the dataset into x and y
train_x = train.iloc[:, :-1]
train_y = train.iloc[:, -1:]
test_x = test.iloc[:, :-1]
test_y = test.iloc[:, -1:]

In [83]:
#shapes of each dataset
print("Train_x =", train_x.shape)
print("Train_y =", train_y.shape)
print("Test_x =", test_x.shape)
print("Test_y", test_y.shape)

Train_x = (149, 9)
Train_y = (149, 1)
Test_x = (65, 9)
Test_y (65, 1)

In [84]:
nn = list(range(3, 10))
print(nn)
print(len(nn))

[3, 4, 5, 6, 7, 8, 9]
7

In [85]:
#k cross validaton
cv_scores = []

for k in nn:
    knn = neighbors.KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, train_x, train_y, cv=5, scoring='accuracy')
    scores = np.around(scores.astype(np.double), 4)
    cv_scores.append(scores.mean())

print(cv_scores)

[0.60966, 0.59034, 0.60344, 0.597, 0.5898800000000001, 0.5900799999999999, 0.60344]

In [86]:
#optimalnumber of neighbors
optimal_k = nn[cv_scores.index(max(cv_scores))]
print("Optimal number of neigbors =", optimal_k)

Optimal number of neigbors = 3

In [87]:
#if optimal k is even make id odd by adding 1 to it
if(optimal_k % 2 == 0):
    print("Even number of k =", optimal_k)
    optimal_k += 1

else:
    print("Odd number of k =", optimal_k)

Odd number of k = 3

In [88]:
#knn algorithm
clf = neighbors.KNeighborsClassifier(n_neighbors=optimal_k)
fit1 = clf.fit(train_x, train_y)
print(fit1)

KNeighborsClassifier(n_neighbors=3)

In [89]:
#Prediction
pred = fit1.predict(test_x)

In [90]:
#Accuracy
print("Accuracy =", accuracy_score(test_y, pred))

Accuracy = 0.6461538461538462

## Implementing k-Nearest Neighbours algorithm on different dataset

[Dataset Link](https://www.kaggle.com/ronitf/heart-disease-uci#)

In this dataset there are 14 columns describing the characteristics of the patient and the target column describes if the person is having a heart disease or not. We will use the k-Nearest Neigbors algorithm to predict upon the characteristics of a patient that whether or not the person has heart disease.

In [91]:
#reading the dataset
df1 = pd.read_csv("heart.csv")
df1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [92]:
#no of rows and columns
df1.shape

(303, 14)

In [93]:
#columns of the dataset
df1.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [94]:
#unique output classes 
df1.target.unique()
#1 for heart disease and 0 for no heart disease

array([1, 0])

In [95]:
#randomly shuffle the data
df1 = df1.sample(frac=1)
df1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2,0
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1

In [96]:
#list of elements which need to be normalised
sc = [0, 2, 3, 4, 6, 7, 9, 10, 12]
st = []
for i in sc:
    st.append(df1.columns[i]) 
st

['age',
 'cp',
 'trestbps',
 'chol',
 'restecg',
 'thalach',
 'oldpeak',
 'slope',
 'thal']

In [97]:
#standardize the dataset
#normalising data except for the binary classes like - sex-1, fbs-5, exang-8, ca-11, target(output class)-13
df1_scaled = df1.copy(deep=True)
minmax1 = preprocessing.MinMaxScaler()
scaled_vals1 = minmax1.fit_transform(df1_scaled.iloc[:, sc])
df1_scaled.loc[:, st] = scaled_vals1
df1_scaled.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
148,0.312500,1,0.666667,0.245283,0.228311,0,0.5,0.748092,0,0.000000,1.0,0,0.666667,1
5,0.583333,1,0.000000,0.433962,0.150685,0,0.5,0.587786,0,0.064516,0.5,0,0.333333,1
214,0.562500,1,0.000000,0.292453,0.280822,1,0.0,0.557252,1,0.193548,0.5,1,0.666667,0
0,0.708333,1,1.000000,0.481132,0.244292,1,0.0,0.603053,0,0.370968,0.0,0,0.333333,1
141,0.291667,1,0.000000,0.198113,0.404110,0,0.5,0.839695,0,0.193548,0.5,0,0.666667,1

In [98]:
df1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2,0
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
141,43,1,0,115,303,0,1,181,0,1.2,1,0,2,1

In [99]:
#splitting dataset into train and train data
train, test = train_test_split(df1_scaled, test_size=0.3)

In [100]:
#splitting the dataset into x and y
train_x = train.iloc[:, :-1]
train_y = train.iloc[:, -1:]
test_x = test.iloc[:, :-1]
test_y = test.iloc[:, -1:]

In [101]:
#shapes of each dataset
print("Train_x =", train_x.shape)
print("Train_y =", train_y.shape)
print("Test_x =", test_x.shape)
print("Test_y", test_y.shape)

Train_x = (212, 13)
Train_y = (212, 1)
Test_x = (91, 13)
Test_y (91, 1)

In [102]:
nn = list(range(3, 10))
print(nn)
print(len(nn))

[3, 4, 5, 6, 7, 8, 9]
7

In [103]:
#k cross validaton
cv_scores = []

for k in nn:
    knn = neighbors.KNeighborsClassifier(n_neighbors=k)
    scores = cross_val_score(knn, train_x, train_y, cv=5, scoring='accuracy')
    scores = np.around(scores.astype(np.double), 4)
    cv_scores.append(scores.mean())

print(cv_scores)

[0.81594, 0.7968999999999999, 0.8063, 0.8064199999999999, 0.8300000000000001, 0.81594, 0.81118]

In [104]:
#optimalnumber of neighbors
optimal_k = nn[cv_scores.index(max(cv_scores))]
print("Optimal number of neigbors =", optimal_k)

Optimal number of neigbors = 7

In [105]:
#if optimal k is even make id odd by adding 1 to it
if(optimal_k % 2 == 0):
    print("Even number of k =", optimal_k)
    optimal_k += 1

else:
    print("Odd number of k =", optimal_k)

Odd number of k = 7

In [106]:
#knn algorithm
clf = neighbors.KNeighborsClassifier(n_neighbors=optimal_k)
fit1 = clf.fit(train_x, train_y)
print(fit1)

KNeighborsClassifier(n_neighbors=7)

In [107]:
#Prediction
pred = fit1.predict(test_x)

In [108]:
#Accuracy
print("Accuracy =", accuracy_score(test_y, pred))

Accuracy = 0.7472527472527473

## Conclusion:
* In this lab we learned about k-Nearest Neighbours algorithm and implemented it using python. First we implemented on glass dataset and then applied the same dataset on heart dataset which predicted the if the person will or will not have a heart disease.
* In the glass dataset the accuracy obtained was `64.68%`.
* In the heart dataset the accuracy obtained was `74.72%`.
* The process for training was similar to the rest of the algorithms, except in this we used cross validation to find the optimal k.