# Experiment No. 2

### Roll No.: 18BIC026 Joy Mehta

Date: 31/07/2020

## Aim: 
#### Strings, Lists, Dictionaries and Tuples in Python.

## Objectives:

>To implement operations with Strings, Lists, Dictionaries and Tuples in Python.

### Pre-Lab Exercise:
1. Learn about Strings, Lists, Dictionaries and Tuples.

### Reference Book:
1. Downey, Allen. Think Python. “O’Reilly Media, Inc.", 2012.

## Programming Exercise:

In [2]:
s = "Hello" #a string

In [3]:
#Print length of the string
print(len(s))

5

In [11]:
#Print first 3 letters of the string
#Here we are accessing the string using slice with [x:y:z] operator where x is the staring positon, 
#y is the ending position which is not included and z is the step size.
print(s[:3])
#3 is not included. So index 0, 1 and 2 are printed.

Hel

In [10]:
#Print last 2 letters of the string
print(s[-2:])

lo

In [12]:
#This prints the character at index 4 which is o as the indexing starts from 0.
print(s[4])

o

In [13]:
s1 = "World"

In [14]:
#'+' Concantenates two strings
print(s + s1)

HelloWorld

In [15]:
#converts the whole string to upper case
print(s.upper())

HELLO

In [21]:
#converts the whiole string to lower case
print(s1.lower())

world

In [22]:
s2 = "JOY"

In [26]:
#islower() returns true if the whole string is in lower case or not.
print(s2.islower())

False

In [25]:
#isupper() returns true if the whole string is in upper case or not.
print(s2.isupper())

True

In [31]:
#.replace() replaces any character with the character provided
s3 = "Mississippi"
print(s3.replace("s", "*"))

Mi**i**ippi

In [32]:
#It can also be used to remove white spaces
s4 = "This is machine learning course."
print(s4.replace(" ",""))

Thisismachinelearningcourse.

In [33]:
#Strings are immutable which means that data in them cannot be changed directly. 
#If we try do do so then we will encounter an error. For example-
s5 = "World"
s5[3] = "e"

TypeError: 'str' object does not support item assignment

In [36]:
#It can be done by converting it to list, 
#changing the desired character and then converting the list back to a string.
s5 = "World"
d = list(s5)
d[3] = "e"
s5 = ""
for i in d:
    s5 += i
print(s5)

Wored

In [2]:
#list comprehension
character = [c for c in 'Hello World']
print(character)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [4]:
#Adding 2 lists combines them
l1 = [1,2,3,4]
l2 = [3,4,5,6,7]
print(l1+l2)

[1, 2, 3, 4, 3, 4, 5, 6, 7]

In [5]:
#Accessing elements in a list
lt = [0,1,2,3,4,5,6,7,8,9]
#accessing first 4 elements
print(lt[:4])
#accessing last 3 elements
print(lt[-3:])
#accessing every second element
print(lt[::2])

[0, 1, 2, 3]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [6]:
#Tuples
#They are similar to list but they are immutable, which means data in them cannot be changed.
t1 = (3,14,56,8,9,4,2,3,4)
print(t1)

(3, 14, 56, 8, 9, 4, 2, 3, 4)

In [7]:
#If we try to change a element it will give error in output
t1[4] = 9

TypeError: 'tuple' object does not support item assignment

In [11]:
#Accessing elements in a tuple, similar to strings and lists
print(t1[4])
print(t1[:5])
print(t1[-3:])

9
(3, 14, 56, 8, 9)
(2, 3, 4)

In [13]:
t2 = (3.4,2,3,5,3,2)
#Adding two tupkes will concatenates them
print(t1 + t2)

(3, 14, 56, 8, 9, 4, 2, 3, 4, 3.4, 2, 3, 5, 3, 2)

In [33]:
#Dictionaries
#These datatypes have a key word for every data element which can be used to access the element
#Here 0, 1, 2, 3, 4, 5 are keys and correspondig to them are elements
d = {0:'zero', 1:'one', 2:'Two', 3:'Three', 4:'Four', 5:'Five'}
print(d)

{0: 'zero', 1: 'one', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [29]:
#Print all keys of the dictionaries
print(d.keys())

dict_keys([0, 1, 2, 3, 4, 5])

In [31]:
#printing the value by passing the key
print(d[4])

Four

In [34]:
#We can update a dictionary using keys as arguments
d[3] = 'Threeee'
print(d)

{0: 'zero', 1: 'one', 2: 'Two', 3: 'Threeee', 4: 'Four', 5: 'Five'}

## Conclusion:

* In this Experiment we learned about python data types - strings, lists, tuples and dictionary.
* We found out that lists and dictionary are mutable while strings and tuples are immutable.
* We learned different functions of each data types and also learned how to access the.
* We learned how to initialise the data types, how to edit them, how to access them and how touse them in our code easily.
* We also saw how immutable data type can be converted in to mutable data type to edit elements in them.