# Experiment No. 7

### Roll No.: 18BIC026 Joy Mehta

Date: 10/09/2020

## Aim: 
#### Decision Trees algorithm

## Objectives:

> To implement Decision Tree algorithm

### Pre-Lab Exercise:
1. Learn theoretical concepts related to Decision Tree algorithm.

### Reference Book:
1. Tom Mitchell, Machine Learning, TMH Publications.

# Programming Exercise:

## Decision Tree

In [1]:
#importing required libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier as dtc
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
#reading the dataset
df = pd.read_csv("ecoli.csv")
df.head()

  sequence_name   mcg   gvh   lip  chg   aac  alm1  alm2 lsp
0     AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35  cp
1    ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44  cp
2    ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46  cp
3    ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36  cp
4     ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35  cp

In [3]:
#no. of rows x columns
df.shape

(336, 9)

In [4]:
#first column is not needed so droping it from the dataframe
df.drop(["sequence_name"], axis=1, inplace=True)
df.head()

    mcg   gvh   lip  chg   aac  alm1  alm2 lsp
0  0.49  0.29  0.48  0.5  0.56  0.24  0.35  cp
1  0.07  0.40  0.48  0.5  0.54  0.35  0.44  cp
2  0.56  0.40  0.48  0.5  0.49  0.37  0.46  cp
3  0.59  0.49  0.48  0.5  0.52  0.45  0.36  cp
4  0.23  0.32  0.48  0.5  0.55  0.25  0.35  cp

In [5]:
#no. of classes = unique values in y column that is lsp
print("No. of classes =", df.lsp.nunique())
df.lsp.unique()

No. of classes = 8

array(['cp', 'im', 'imS', 'imL', 'imU', 'om', 'omL', 'pp'], dtype=object)

In [6]:
#splitting dataset into train and test
train, test = train_test_split(df, test_size=0.3)
print(train.shape)
print(test.shape)

(235, 8)
(101, 8)

In [7]:
#splitting train and test into X and Y
train_x = train.iloc[:, :-1]
train_y = train.iloc[:, -1:]
test_x = test.iloc[:, :-1]
test_y = test.iloc[:, -1:]

In [8]:
#final shapes of the datasets
print(train_x.shape)
print(test_x.shape)
print(train_y.shape)
print(test_y.shape)

(235, 7)
(101, 7)
(235, 1)
(101, 1)

In [9]:
#model
clf_entropy = dtc(criterion="entropy")
fit2 = clf_entropy.fit(train_x, train_y)

In [10]:
#prediction
pred_entropy = fit2.predict(test_x)

In [11]:
#predicted classes
pred_entropy

array(['im', 'cp', 'im', 'im', 'om', 'cp', 'im', 'im', 'cp', 'cp', 'cp',
       'cp', 'im', 'om', 'cp', 'pp', 'im', 'im', 'om', 'cp', 'cp', 'imU',
       'pp', 'om', 'cp', 'imU', 'imU', 'om', 'cp', 'cp', 'cp', 'imU',
       'cp', 'cp', 'cp', 'cp', 'cp', 'omL', 'cp', 'cp', 'cp', 'cp', 'cp',
       'om', 'imU', 'im', 'pp', 'imU', 'cp', 'cp', 'im', 'cp', 'im', 'pp',
       'im', 'pp', 'cp', 'cp', 'cp', 'pp', 'im', 'pp', 'imU', 'cp', 'pp',
       'im', 'cp', 'im', 'cp', 'pp', 'imU', 'im', 'imU', 'cp', 'im', 'im',
       'im', 'im', 'cp', 'om', 'imU', 'cp', 'im', 'imS', 'im', 'cp', 'cp',
       'cp', 'om', 'om', 'cp', 'im', 'pp', 'cp', 'cp', 'cp', 'pp', 'cp',
       'imU', 'cp', 'cp'], dtype=object)

In [12]:
#accuracy of the model, comparing the true value with the predicted values
accuracy_score(test_y, pred_entropy)

0.7623762376237624

In [13]:
#confusion_matrix(y_true, y_pred)
confusion_matrix(test_y, pred_entropy)

array([[41,  1,  0,  0,  0,  0,  0,  3],
       [ 1, 15,  0,  0,  6,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  0,  1,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  5,  0,  1,  4,  0,  0,  0],
       [ 1,  0,  0,  0,  0,  9,  0,  0],
       [ 0,  0,  0,  0,  0,  0,  0,  0],
       [ 2,  2,  0,  0,  0,  0,  0,  8]])

## Conclusion:
* In this lab we learned about the decision tree algorithm and implemented it using sklearn library.
* Accuracy of the prediction came out to be `76.23%`.
* The coding part was similar to the previous experiments,the only difference was the confusion matrix. 
* Confusion Matrix was generated using the sklearn library and it shows us how the model works on the test cases.